@charset "UTF-8";
	body{
		margin: 0;
		font-family: Microsoft JhengHei;
		background-image: url('web2_bk.jpg');
		}
	a{
		text-decoration: none;
		color: #06612B;
		font-size: 36pt;
		font-family: Lucida Sans;

		}
	#now{
		color: #2ACD6B;
		}
	header{
		text-align: center;
		background-color: black;
		height: 85px;
		padding-top: 24px;
		}
	#charge,#card,#chheck{
		border-radius: 10px;
		border: 3px;
		margin: 25px 30%;
		height: 55px;
		width: 40%;
		background-color: orange;
		box-shadow:5px 5px 10px 1px gray ;
		transform: translate(0,10px)
	}
	#card{
		height: 310px !important;
	}
	#chheck{
		background-color:#FFAC4D !important;
	}
	span{
		color: red;
	}
	#text{
		float: right;
		width: 80%;
		background-color: white;
		height: 100%;
		border-radius:0 10px 10px 0;
	}
	h1{
		font-size: 16pt;
		transform: translate(15px, -15%);
		display: inline-block;
	}
	h5{
		font-size: 16pt;
		transform: translate(10px, -85%);	
	}
	.pretty-select {
	  	/*移除箭頭樣式*/
	  	appearance:none;
	  	-moz-appearance:none;
	  	-webkit-appearance:none;

	  	background: url("1502789549_90663.png") no-repeat right center transparent;
	  	background-color:#F6F7F7;
	  	height: 30px;
	}
	table{
		transform: translate(5px,0px)
	}
	tr{
		height: 56px;
	}